@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.pagecatalogue
{
  text-align: center;   
  width: 100%;
  background-color: #F5F5F5;
}

.catalogue__part
{
  display: inline-block;
  width: 850px;
  height: auto;
  border-radius: 3px;
  padding: 0px;
  margin: 40px 10px 40px 10px;
  vertical-align: top;
  align-items: center;
  text-align: center;
  background-color: rgb(196, 196, 196);
  line-height: 1.5;
}

.aside__part
{
  display: inline-block;
  width: 20%;
  height: auto;
  margin: 40px 10px 40px 10px;
  text-align: left;
  background-color: #038768;
  border-radius: 3px;
  vertical-align: top;
  border-radius: 3px;
  align-items: center;
}

.div_center
{
  display: inline-block;
  width: 260px;
  text-align: center;
  padding: 10px;
  background-color: #fff; 
  border-radius: 2px;
  margin: 10px;
  height: 400px; 
}

.div_center img{
    width: 150px; 
    height:auto; 
    margin-bottom:10px;
}

.catalogue__part a{
  color:#038768; 
  font-weight:800; 
  font-size:19px;
  font-family:calibri;
}

.div_center a:hover, .div_center a:focus, .div_center a:active {
  text-decoration: none;
  color:#038768;
}

.catalogue__part h1
{
  font-weight: 600;
  color: #333;
  font-size: 35px;
  font-family: "IntroBlack", "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
  padding-bottom: 0px;
  padding-top: 10px;
  padding-left: 15px;
  margin: 15px;
  text-align: left;
  border-left: 4px solid #038768;
}

.div_text
{
  font: 16px 'Source Code Pro', monospace;
  font-weight: bold;
	color: #333;
}

@media screen and (max-width: 600px) 
{
  .div_center
    {
       max-width: 100%;
    }
}

.catalogue__part hr{
    height: 3px;
    width: 80px;
    background-color: #018365;
    margin-bottom: 80px ;
}


/*Personalization button buy*/
.parent_btn_buy{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.parent_btn_buy a{
  padding: 5px;
  border: 0.25rem solid #018365; 
  border-radius: 0.3rem;
  font: 16px 'Source Code Pro', monospace;
  font-size: 1rem;
  font-weight: bold;
  background: #018365;
  color: white;
  text-decoration: none;
  width: 180px;
}

.parent_btn_buy .btn_buy:hover, .btn_buy:focus, .btn_buy:active {
    background: #018365; 
    text-decoration: none;
    color: #fff; 
}

/*Personalization button See More*/
.parent_btn_see_more{
  height:10vh; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent_btn_see_more a{
  padding: 5px;
  border: 0.5rem solid #018365; 
  border-radius: 0.3rem;
  font-size: 1rem;
  background: #018365;
  color: white;
  font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
  text-decoration: none;
  transition: all 150ms ease-in-out 0s;
}

.btn_see_more:hover, .btn_see_more:focus, .btn_see_more:active {
  background-color: #018365;
  border-color: #018365;   
  text-decoration: none;
  color: #fff; 
  border: 0.6rem solid #018365;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4) inset;
}