.main-footer {
    color: #f7f7f7;
    background-color: #383838;
    padding-top: 0.5em;
    position: relative;
    bottom: 0;
    width: 100%;
  }

.container {
    width: 100px;
    margin: 20px auto;
    margin-bottom: 0px;
}

.col li{
  list-style-type:none;
  margin-left:0;
  padding-left:0;
}

.footerLinks{
  color: rgb(199, 199, 199);
}

.footerLinks:hover, .footerLinks:focus, .footerLinks:active {
  color:  #fff;
  text-decoration: none;
  
}
